/* General Styles */
.header {
  background-color: #fffeff;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.brand {
  font-size: 1.9rem;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -50px;
}

.navbar button {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: background 0.3s ease, color 0.3s ease;
  margin: 0 10px;
}

.navbar button:hover {
  background: #5eff00;
  color: #fff;
}

/* Hamburger Menu Styling */
.hamburger {
  display: flex;

  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 0;
  cursor: pointer;
  padding: 10px;
  margin-right: 20px;
 
}

.hamburger:hover {
  background: #3bf33e;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .header {
    padding: 10px 15px;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar {
    display: none; /* Hide the navbar by default */
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
  }

  .navbar.expanded {
    display: flex; /* Show the navbar when expanded */
  }

  .navbar .card {
    background-color: #6682e4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    width: calc(100% - 20px); /* Adjust width to fit within the screen */
    margin: 10px auto;
  }

  .navbar .card button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    text-align: left;
    font-size: 14px;
  }

  .hamburger {
    display: block;
  }
}

@media (max-width: 480px) {
  .navbar .card button {
    font-size: 12px;
    padding: 8px;
  }

  .hamburger {
    font-size: 20px;
    margin-top: -5px;
  }
}

/* Content adjustment for expanded menu */
.expanded + .content {
  margin-top: 200px; /* Adjust this value based on the navbar height */
}
